.wrapper {
  width: 100vm;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.menu-button {
  padding-right: 20px;
}

.menu-list {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 5%;
  color: #344563;
}

.menu-list a {
  text-decoration: none;
  padding: 15px;
}

@media screen and (min-width: 600px) {
  .wrapper {
    padding-top: 0%;
  }

  .menu-button {
    display: none;
  }

  .logo {
    margin-left: 5%;
  }
}

@media screen and (max-width: 600px) {
  .menu-list {
    display: none;
  }
}

.headline {
  background-image: url('header-shapes-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
  border-bottom-left-radius: 75px;
  border-bottom: 1px solid  #e2e2e7;
  shape-margin: 1px;
  padding-bottom: 75px;
}

.logo {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  padding-top: 10px;
  padding-left: 12px;
}

.title1 {
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  line-height: 52px;
  padding-top: 50px;
  color: #172b4d;
}

.description1 {
  padding-right: 10px;
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.connect {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

a:hover { color: #7f8cff; }

.social {
  display: flex;
  width: 300px;
  justify-content: flex-start;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin-right: 7px;
}

@media only screen and (min-width: 600px) {
  .headline {
    background-image: url('header.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 100px;
  }

  .title1 {
    padding-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 24.5em;
  }

  .description1 {
    margin-left: auto;
    margin-right: auto;
    width: 45em;
  }

  .connect {
    margin-left: auto;
    margin-right: auto;
    width: 45em;
  }

  .social {
    margin-left: auto;
    margin-right: auto;
    width: 45em;
  }
}

.works-container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  grid-template-columns: auto;
}

.snapshot {
  display: block;
  width: 95%;
  height: auto;
  padding-left: 0%;
}

.flex-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 20px;
  border-radius: 16px;
  border: 1px solid #e2e2e7;
  margin-bottom: 45px;
  padding-left: 2%;
}

.flex-card h1 {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
  width: auto;
}

.flex-card p {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.flex-card ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.element1 {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 17px;
  padding-right: 10px;
}

.element2 {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #7a869a;
  padding-left: 10px;
  padding-right: 10px;
}

.language-buttons {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: #6070ff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  background-color: #ebebff;
  border: none;
  padding: 8px;
  margin: 4px 2px;
  border-radius: 12px;
}

.bottom-list {
  list-style: none;
  padding-left: 0%;
  display: flex;
  justify-content: flex-start;
}

.p-button {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  border: 2px solid #838de9;
  padding: 15px;
  width: 40%;
  margin-top: 15px;
  border-radius: 12px;
  display: inline;
}

.p-button:enabled { background-color: #fff; }
.p-button:hover { background-color: #7f8cff; }
.p-button:active { background: #2230d2; }
.p-button:disabled { color: #5e6c84; }

@media only screen and (min-width: 600px) {
  .column {
    float: right;
    padding-top: 5%;
    margin-right: auto;
    margin-left: 3%;
  }

  .column2 {
    float: left;
    order: -1;
    padding-top: 5%;
    margin-right: 3%;
  }

  .snapshot {
    float: left;
    width: 50%;
    height: 90;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .flex-card {
    flex-direction: row;
    width: auto;
  }

  .p-button {
    width: auto;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 75px;
  border-top: 1px solid  #e2e2e7;
  border-top-right-radius: 75px;
}

.about-me h1 {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding-top: 30px;
  margin-bottom: 0%;
}

.description {
  padding-right: 10px;
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.about-me p {
  margin-bottom: 0%;
}

.r-button {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  border: 2px solid #838de9;
  padding: 15px;
  width: 50%;
  margin-top: 15px;
  border-radius: 12px;
}

.r-button:enabled { background-color: #fff; }
.r-button:hover { background-color: #7f8cff; }
.r-button:active { background: #2230d2; }
.r-button:disabled { color: #5e6c84; }

/* sub.list elements */
.menu ul {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

/* list & sub-list styling */
.menu ul a {
  display: flex;
  flex-direction: row;
  color: black;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  padding-top: 25px;
  padding-bottom: 15px;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: solid #f7f7f9;
}

.menu ul li {
  width: 45%;
  padding-bottom: 10px;
}

.menu ul ul li {
  float: none;
  width: 95%;
}

.menu ul li:hover { background: #7f8cff; }

.material-symbols-outlined {
  margin-left: auto;
}

.js-btn {
  display: block;
  background-color: #f7f7f9;
  background-image: url(js-icon.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  text-indent: 60px;
  margin: auto;
  border: 5px solid #fff;
  border-radius: 12px;
}

.ht-btn {
  display: block;
  background-color: #f7f7f9;
  background-image: url(html-icon.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  text-indent: 60px;
  margin: auto;
  border: 5px solid #fff;
  border-radius: 12px;
}

.css-btn {
  display: block;
  background-color: #f7f7f9;
  background-image: url(css-icon.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  text-indent: 60px;
  margin: auto;
  border: 5px solid #fff;
  border-radius: 12px;
}

/* .menu a:hover { background: #7f8cff; } */

@media only screen and (min-width: 600px) {
  .column1 {
    margin-left: 1%;
    width: 40%;
  }

  .about-me {
    flex-direction: row;
  }

  .menu {
    width: 60%;
  }

  .menu ul {
    margin-top: 8%;
    margin-left: 5%;
  }

  .menu ul ul li {
    float: left;
    width: 20%;
  }

  .menu a {
    width: 95%;
  }

  .r-button {
    width: auto;
  }

  .js-btn {
    background-position: left;
    background-position-y: 9%;
    background-position-x: 9%;
    padding-top: 45px;
    margin: auto;
    border: 5px solid #fff;
    border-radius: 12px;
    text-indent: 10%;
  }

  .ht-btn {
    background-position-y: 9%;
    background-position-x: 9%;
    padding-top: 45px;
    margin: auto;
    border: 5px solid #fff;
    border-radius: 12px;
    text-indent: 25%;
  }

  .css-btn {
    background-position-y: 9%;
    background-position-x: 9%;
    padding-top: 45px;
    margin: auto;
    border: 5px solid #fff;
    border-radius: 12px;
    text-indent: 30%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  background-image: url("shapes.svg");
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #6070ff;
  border-top-left-radius: 75px;
  padding-bottom: 40px;
}

.contact h1 {
  padding-top: 60px;
  text-align: center;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #ebebff;
  margin-bottom: 0%;
}

.contact p {
  text-align: center;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 20px;
  padding-right: 30px;
}

.data-input {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 20px;
}

input[type=text] {
  width: 95%;
  height: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400px;
  padding-left: 16px;
}

input[type=email] {
  width: 95%;
  height: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400px;
  padding-left: 16px;
}

textarea {
  width: 95%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 15px 38px 15px 16px;
  box-sizing: border-box;
}

.g-button {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  background-color: #fff;
  border: 2px solid #838de9;
  padding: 12px 16px 12px 16px;
  margin: 4px 2px;
  border-radius: 12px;
}

.g-button:enabled { background-color: #fff; }
.g-button:hover { background-color: #7f8cff; }
.g-button:active { background: #2230d2; }
.g-button:disabled { color: #5e6c84; }

@media only screen and (min-width: 600px) {
  .contact {
    background-image: url('contact-background-shapes.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .contact h1 {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
  }

  .contact p {
    margin-left: auto;
    margin-right: auto;
    width: 23em;
    text-align: center;
  }

  .data-input {
    margin-left: auto;
    margin-right: auto;
    width: 33em;
  }

  .g-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
